.Completed {
     width: 100%;
     background-image:
     linear-gradient(to bottom, rgba(0, 0, 0, 0.729), rgba(0, 0, 0, 0.729)),
     url('https://i.ibb.co/5KvQJdZ/N7.png');
   
     background-repeat: no-repeat;
   background-size: calc(1);
   background-attachment: fixed;
   background-position: 100%;

}